/** @format */

#root,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.label > div {
	font-family: Helvetica, Arial;
	position: absolute;
	background: #00000088;
	color: white;
	padding: 15px;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 30px;
	user-select: none;
}
